{% extends 'base.html.twig' %}

{% block title %}Edit Brewerie{% endblock %}

{% block body %}
    <h1>Edit Brewerie</h1>

    {{ include('brewerie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('brewerie_index') }}">back to list</a>

    {{ include('brewerie/_delete_form.html.twig') }}
{% endblock %}
