{% extends 'base.html.twig' %}

{% block title %}New Brewerie{% endblock %}

{% block body %}
    <h1>Create new Brewerie</h1>

    {{ include('brewerie/_form.html.twig') }}

    <a href="{{ path('brewerie_index') }}">back to list</a>
{% endblock %}
